<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SSARY"
        tools:targetApi="31">

        <!-- LoginActivity를 첫 화면으로 설정 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SSARY">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity는 첫 화면에서 제외 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SSARY"/>

        <!-- SignupActivity 등록 -->
        <activity android:name=".SignupActivity" />

        <activity android:name=".IdSearchActivity" />

        <activity android:name=".PwSearchActivity" />

        <activity android:name=".MyPageActivity" />

        <activity android:name=".MyNewTextActivity" />

        <activity android:name=".MyExistTextActivity" />

        <!-- !씨발 중요! -->
        <!-- 모든 자바 클래스 Activity는 아래 코드를 반드시 디폴트로 입력해주세요. -->
        <!--<activity android:name=".Activity" />-->

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
